@media screen and (max-width: 767px) {
	#contenido {
		width: 100%;
		margin: 90px 0;
		display: grid;
		grid-template-rows: repeat(4, 1fr);
		grid-template-columns: 1fr;
	}

	#contenido #principal {
		width: 100%;
		grid-row: 2;
		grid-column: 1;
	}
	
	#contenido #secundario {
		width: 100%;
		grid-row: 1;
		grid-column: 1;
	}
}