@media screen and (max-width: 767px) {
	#contenido {
		width: 100%;
		margin: 90px 0;
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: 1fr;
	}

	#contenido #principal {
		width: 100%;
		grid-row: 2;
		grid-column: 1;
	}
	
	#contenido #secundario {
		width: 100%;
		grid-row: 1;
		grid-column: 1;
	}

	.card{
		border: none;
		box-shadow: none;
	}

	.card-inner{
		justify-content: initial;
	}

	.card-inner div{
		margin: 20px;
	}
	.card-inner img{
		margin: 20px;
	}

	.card h4{
		display: none;
	}

	#category-title{
		display: block;
		padding: 0;
		color: black;
		background-color: #FFF;
		align-self: initial;
		font-weight: bold;
	}

	#archivo{
		display: none;
	}
}