/* ---- Estilos b�sicos ---------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

p {
  margin: 1em 0;
  padding: 0;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  margin: 1em 0;
  padding:0;
}

h1 {
  font-size: 260%;
  font-family: "georgia", serif;
  font-weight: normal;
}

h2 {
  font-size:180%;
  font-family: "georgia", serif;
  font-weight:normal;
}

h3 {
  font-size:120%;
  font-weight:bold;
}

.active {
  font-weight: 900;
}

#logo {
  width: 80px;
  max-width: 200px;
  margin-right: 30px;
}

/* ---- Layout ------------------------------------------------------------- */

#cabecera {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #262626;
  color: #FFF;
}

#contenido {
  width: 100%;
  margin: 90px 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: .4fr 1fr;
  background: #FFF;
}

#contenido #principal {
  width: 100%;
  grid-row: 1;
  grid-column: 2;
  background: #FFF;
}

#contenido #secundario {
  width: 100%;
  grid-row: 1;
  grid-column: 1;
}

#pie {
  width: 100%;
  height: auto;
  padding: 100px 0;
  background-color: #262626;
  color: white;
}

/* ---- Cabecera ----------------------------------------------------------- */

#cabecera .buscador input {
  padding: 3px 25px;
  border: none;
  border-radius: 20px;
}

/* ---- Men� --------------------------------------------------------------- */
#menu {
  height: 100%;
  background-color: #262626;
}

#menu ul li a {
  color: #ffffff;
  cursor: pointer;
}

#menu ul li a:not(:first-of-type) {
  padding: 0 20px;
}

/* ---- Contenidos --------------------------------------------------------- */
#contenido .articulo {
  width: 100%;
}

#contenido .articulo img {
  width: 100%;
}

#contenido .info {
  margin: 15px 0;
  color:#6685CC;
}

#contenido .info {
  display: flex;
  padding: 0;
}

#contenido .info li {
  color:#BFAE9F;
}

#contenido .info li:not(:first-of-type) {
  padding-left: 25px;
}

#contenido .info a { 
  color:#BFAE9F;
  transition: ease 0.3s;
}

#contenido .info a:hover { color:rgb(158, 110, 47); }

#contenido #secundario #sobremi img {
  float: left;
  margin: 4px 5px 0 0;
}

#archivo {
  width: 100%;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.card__title {
  font-weight: 900;
}

/* ---- Pie ---------------------------------------------------------------- */

#pie ul {
  margin: 0;
}

#pie ul h5 {
  font-weight: 900;
}

#pie .pie__grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}