.active {
  font-weight: 900;
}
.active-option {
  font-weight: 900;
  margin-left: 20px;
}
#logo {
  width: 80px;
  max-width: 200px;
  margin-right: 30px;
}

/* ---- Layout ------------------------------------------------------------- */

#cabecera {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #262626;
  color: #FFF;
}

#contenido {
  width: 100%;
  margin: 90px 0;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: .4fr 1fr;
  background: #FFF;
}

#contenido #principal {
  width: 100%;
  grid-row: 1;
  grid-column: 2;
  background: #FFF;
}

#contenido #secundario {
  width: 100%;
  grid-row: 1;
  grid-column: 1;
}

#pie {
  width: 100%;
  height: auto;
  padding: 100px 0;
  background-color: #262626;
  color: white;
}

/* ---- Cabecera ----------------------------------------------------------- */

#cabecera .buscador input {
  padding: 3px 25px;
  border: none;
  border-radius: 20px;
}

/* ---- Men� --------------------------------------------------------------- */
#menu {
  height: 100%;
  background-color: #262626;
}

#menu ul li a {
  color: #ffffff !important;
  cursor: pointer;
}

#menu ul li a:not(:first-of-type) {
  padding: 0 20px;
}

/* ---- Contenidos --------------------------------------------------------- */
#contenido .articulo {
  width: 100%;
  text-align: justify;
}

#contenido .articulo img {
  width: 100%;
}

#contenido .info {
  margin: 15px 0;
  color:#6685CC;
}

#contenido .info {
  display: flex;
  padding: 0;
}

#contenido .info li {
  color:#BFAE9F;
}

#contenido .info li:not(:first-of-type) {
  padding-left: 25px;
}

#contenido #secundario #sobremi img {
  float: left;
  margin: 4px 5px 0 0;
}

#archivoSelect {
  width: 100%;
  margin: 0 0 80px 0;
  outline: none;
  padding: 10px 20px;
  background-color: white;
  border: none;
  border-radius: 20px;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  color: #BFAE9F;
  font-weight: 900;
  text-align: center;
}

.card__title {
  font-weight: 900;
}


/* card */

.card{
  position: relative;
  border-radius: 20px;
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  margin-bottom: 50px;
}

.category-card{
  padding: 50px 20px;
}

.card h4{
  position: absolute;
  top: -20px;
  align-self: center;
  color: #FFF;
  background-color: #585859;
  border-radius: 20px;
  padding: 5px 50px;
  font-weight: lighter;
  display:block;
}
.card-inner{
  display: flex;
  align-items: center;
  height: 200px;
  justify-content: space-between;
}

.category-card-inner{
  align-items: center;
}

.view-more{
  align-items: center;
  text-align: center;
  color: #BFAE9F;
  margin-top:30px;
}

.view-more p{
  margin: 0;
}

.view-more p:hover{
  cursor: pointer;
  color: #262626;
}

.view-more img{
  width: 20px;
}

.card-inner img{
  width: 100px;
  height: 100px;
}

.card-inner-info p{
  margin: 0;
}

.card-inner-list p{
  margin: 0;
  border-bottom: 1px solid black;
  width: 100%;
  display: inline-block;
  margin-bottom: 5px;
}

.card-inner-list p:hover{
  cursor: pointer;
  color: #BFAE9F;
}

.card-inner-list img{
  width: 20px;
}

.profile_button{
  background-color: #BFAE9F;
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  margin: 5px auto;
  color: #FFF;
}

.profile_button:hover{
  cursor: pointer;
}
/* ---- Pie ---------------------------------------------------------------- */

#pie ul {
  margin: 0;
}

#pie ul h5 {
  font-weight: 900;
}

#pie .pie__grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}